<!doctype html>
<html>
	<head>
		<title>Ontile</title>
		<link rel="stylesheet" type="text/css" href="/css/common.css">
		<script data-main="/js/app" type="text/javascript" src="js/lib/requirejs/require.js"></script>
	</head>
	<body>
		<div id="main-menu"></div>
		<div id="content">
		</div>
		<script type="text/template" id="splash-screen-template">
			<div class="content splash">
				<div class="title">
					<h1>Alexey Nikolaev</h1>
					<h3>photographer</h3>
				</div>
				<div class="ui_progress-bar">
					<div class="ui_indicator"></div>
				</div>
			</div>
		</script>
		<script type="text/template" id="main-menu-template">
			<nav>
				<span class="title vertical">Alexey Nikolaev</span>
				<p class="title horizontal">Alexey Nikolaev</br><span>photographer</span></p>
				<ul class="ui_menu">
			</nav>
		</script>
		<script type="text/template" id="main-menu-item-template">
			<a href="<%=url%>"><%=name%></a>
			<% if(children > 0) { %>
				<ul class="ui_menu ui_sub-menu"></ul>
			<% } %>
		</script>
		<script type="text/template" id="main-screen-template">
			<div class="content index">
			</div>
		</script>
		<script type="text/template" id="about-screen-template">
			<div class="content about">
				<article class="about">
					<%=content%>
				</article>
			</div>
		</script>
		<script type="text/template" id="story-screen-template">
			<div class="content story">
				<div class="ui_items-wrapper">
					<div class="ui_items-inner-wrapper">
						<div class="ui_nav ui_prev"></div>
						<ul class="ui_items"></ul>
						<div class="ui_nav ui_next"></div>
					</div>
				</div>
			</div>
		</script>
		<script type="text/template" id="story-item-template">
			<img src="<%=src%>" />
		</script>
	</body>
</html>